@import "tailwindcss"; /*Importo Tailwind CSS */

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	background: #050505;
	font-family: 'Onest', sans-serif;
}

body {
	box-sizing: border-box;
	font-family: "Onest",sans-serif;
}